body {
    font-family: Amble, sans-serif;
    text-align: center;
    background-image: url("../resources/sfondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    padding: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.container {
    margin: 20px;
}

.textleft {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
}

.destinazioni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    font-size: 24px;
}

    .destinazioni img {
        width: 75%;
    }

.item {
    width: calc(45% - 25px);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    text-align: right;
}
