body {
    font-family: Amble, sans-serif;
    text-align: center;
    background-image: url("../resources/sfondo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    padding: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    transition: font-size 0.3s, color 0.3s;
}

    nav a:hover {
        font-size: 28px;
        color: red;
    }

#aereo {
    width: 400px;
    border-radius: 0%;
}

.container {
    margin: 20px;
}

#ScegliDestinazione {
    text-align: left;
    font-size: 24px;
    margin-left: 30%;
}

.destinazioni {
    display: flex;
    justify-content: center;
    gap: 25px;
}

    .destinazioni p {
        font-size: 24px;
        font-weight: bold;
    }

#pMare {
    color: aqua;
}

    #pMare a:visited {
        color: aqua;
    }

#pMontagna {
    color: rebeccapurple;
}

#pMontagna a:visited {
    color: rebeccapurple;
}

#pDeserto {
    color: gold;
}

#pDeserto a:visited {
    color: gold;
}

.container img {
    width: 200px;
    border-radius: 50%;
    transition: transform 0.3s, border-radius 0.3s;
}

.imgDestinazioni:hover {
    transform: scale(1.1);
    border-radius: 25%;
}

.sconti {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#imgsconti {
    width: 300px;
    border-radius: 0%;
}

.footer {
    margin-top: 20px;
    padding: 10px;
    text-align: right;
}

form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

    input[type="text"]:focus {
        border-color: #007bff;
    }

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

    input[type="submit"]:hover {
        background: #0056b3;
    }
